<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="actors content">
            <form action="/actors" method="POST">
                <b>Actors: </b></br> 
                <% if (theActors.length > 0) { %>
                    <% theActors.forEach(actor => { %>
                        <b><%= actor.first_name %> <%= actor.last_name %></b></br>
                    <% }) %>
                <% } else { %>
                    <p>No actors found.</p>
                <% } %>
            </br><label>Add Actor:</label></br>
            <label>First Name:
                <input type="text" id="firstName" name="firstName" value="<%= locals.firstName %>" required>
            </label>
            <label>Last Name:
                <input type="text" id="lastName" name="lastName" value="<%= locals.lastName %>" required>
            </label>
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>